# == AWS Lambda runtime for Python 3.13, as of 2024-11-14 ==
# Do not include any of the following pre-installed packages:
# awslambdaric
# boto3
# botocore
# jmespath
# pip
# python-dateutil
# s3transfer
# six
# simplejson
# urllib3
pyarrow~=19.0
h3~=4.2
